<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">
	<!-- throwExceptions:NLog の（主に設定に関する）例外をスローするので、本番環境では false にすること -->
	<targets>
		<target name="console" xsi:type="Console" />
		<target name="debugger" xsi:type="Debugger" layout="[${uppercase:${level:padding=-5}}]${date:format=HH\:mm\:ss.ffff} ${message}${exception:format=tostring} (${callsite})" />
		<target name="file" xsi:type="File" fileName="logs/log.txt" layout="${level},&quot;${message}&quot;,&quot;${exception:format=tostring}&quot;,${longdate},${callsite:className=true:methodName=true}" />
	</targets>

	<rules>
		<logger name="*" minLevel="Trace" writeTo="debugger" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>