<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="API_KEY" value="SendGrid AppKey を入力してください" />
    <add key="FROM" value="amadeus@news-letter.com" />
    <add key="FROM_NAME" value="アマデウス メルマガ配信" />
  </appSettings>
</configuration>