<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="API_KEY" value="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" />
    <add key="FROM" value="jsl@news-letter.com" />
    <add key="FROM_NAME" value="JSL 広告宣伝部" />
  </appSettings>
</configuration>