<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GCP_TextToSpeech_Sample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.53.0.0" newVersion="1.53.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.1.0" newVersion="1.36.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GCP_TextToSpeech_Sample.Properties.Settings>
      <setting name="TextID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SceneID" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="RetakeID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UseAutoIncrement" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseWaveNet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Speed" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Pitch" serializeAs="String">
        <value>0</value>
      </setting>
    </GCP_TextToSpeech_Sample.Properties.Settings>
  </userSettings>
</configuration>
