<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info"
	  throwConfigExceptions="true">

	<!-- 書き込む対象の設定 -->
	<targets>
		<!-- ファイル形式 (.log) の設定 -->
		<target xsi:type="File" name="logfile"
				fileName="c:\temp\console-example.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<!-- コンソールの設定 -->
		<target xsi:type="Console" name="logconsole"
				layout="${level:uppercase=true:truncate=3}|${logger}|${message:withexception=false}|${exception:format=@} (${date:format=yyyy-MM-dd HH\:mm\:ss})" />
		<!-- CSV の設定 -->
		<target xsi:type="File" name="csvFileExample" fileName="./CsvLogExample.csv">
			<layout xsi:type="CsvLayout" delimiter="Comma" withHeader="false">
				<column name="time" layout="${longdate}" />
				<column name="level" layout="${level:upperCase=true}"/>
				<column name="message" layout="${message}" />
				<column name="callsite" layout="${callsite:includeSourcePath=true}" />
				<column name="stacktrace" layout="${stacktrace:topFrames=10}" />
				<column name="exception" layout="${exception:format=ToString}"/>
				<column name="property1" layout="${event-properties:property1}"/>
			</layout>
		</target>
	</targets>

	<!-- target へのマッピングルール -->
	<rules>
		<logger name="Nlog.Practice1.Program" minlevel="Trace" writeTo="logfile" />
		<logger name="Nlog.Practice1.Program" minlevel="Trace" writeTo="logconsole" />
		<logger name="Nlog.Practice1.Program" minlevel="Trace" writeTo="csvFileExample" />
	</rules>
</nlog>